.usermessage-avatar{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    height: 10%;
    margin-top: 10px;
    width: 5vw;
    max-width: 100%;
}

.usermessage-content{
    color: white;
    word-wrap: break-word;
    font-weight: 400;
    font-size: calc(0.8vh + 0.8vw);
}

.usermessage-username{
    font-weight: 600;
    margin-bottom: -0px;
    font-size: calc(1vw + 1vh);
    color: white;
}

.usermessage-container{
    background:#343434;
    display: flex;
    padding-bottom: 2vh;
    padding-right: 1vw;
    position: relative;
    overflow-wrap: break-word;

    width: 95%;
    min-height: 12vh;
}