.profile-card-base{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.3rem;
    display: flex;
    width: 20vw;
    height: 10vh;
    background:#343434;
    padding-bottom: 50px;
    border-radius: 15px;
    flex-direction: column;
    transition: 0.1s;
  
}

.profile-card-base:active{
    width: 18vw;
    height: 8vh;
    transition: 0.1s;

}

.add-user-input{
    border-radius: 10px;
    background-color: #2b2b2b;
    color: white;
    font-weight: 600;
    width: 17vw;
    
}

.add-user-form{
    position: relative;
    display: inline-flex;
    margin-top: 5%;
}
.add-user-button{
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    color: white;
    background: #2b2b2b;
    padding: 2.5%;
    width: 15%;
    border-radius: 10px;
    margin-left: 2%;
    height: 10.5%;
}

.profile-card-base-selected:active{
    width: 10vw;
    height: 8vh;
    transition: 0.1s;

}
.profile-card-base-selected:hover{
    width:20.5vw;
    height: 10.5vh;
    transition: 0.1s;
}

.profile-card-base:hover{
    width:20.5vw;
    height: 10.5vh;
    transition: 0.1s;
}

.profile-full-container{
    display: flex;
    align-items: center;
    position: relative;
}

.profile-card-base-selected{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.3rem;
    display: flex;
    width: 20vw;
    height: 10vh;
    background:#ffffff;
    padding-bottom: 50px;
    border-radius: 15px;
    flex-direction: column;
    transition: 0.1s;
  
}

.notification-error{
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    position: fixed;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
  }

  .notification-success{
    padding: 20px;
    background-color: #36f482; /* Red */
    color: white;
    margin-bottom: 15px;
    position: fixed;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
  }

.mainpage-content{
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
    height: 92.5vh;
    background-color: rgb(30, 30, 30);
}

.profile-image{
    margin-top: 20px;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    align-items: center;
    display: inline-block;
    border-radius: 40%;
    position: relative;
}

.profile-card-center{
    display: flex;
    position: relative;
    margin-top: 20px;
}

.username-title{
    font-weight: 600;
    color: white;
    font-size: 16px;
}
.username-title-selected{
    font-weight: 600;
    color: black;
    font-size: 16px;
}
.profile-avatar{
    border-radius: 50%;
    width: 125px;
    height: 125px;
    margin-left: 20px;
    display: flex;
    position: relative;
    
}

.profile-text-container{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 20px;
}

.profile-title{
    color: white;
    font-size: 100%;

}
.profile-title strong{
    color: white;
    font-size: 100%;

}

.profile-container{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 10px;
}

.bottom-right{
    position:absolute;
    bottom:0;
    right:0;
}
.password-text{
    -webkit-text-security: disc;
    color: white;
}

.profile-button{
    margin-right: 15px;
    float: right;
}

.profile-overlay{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.notification-error{
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }


.overlay-container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}